* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: Tahoma, sans-serif;
  height: 100%;
  width: 100%;
}

#master-div {
  background-color: #0a0a23;
  width: 100%;
  height: 100%;
  color: #FFF;
}

#break-label {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

#break-container {
  display: flex;
  justify-content: center;
}

#session-label {
  display: flex;
  justify-content: center;
}

#session-container {
  display: flex;
  justify-content: center;
}

#timer-label {
  display: flex;
  justify-content: center;
}

#time-left {
  display: flex;
  justify-content: center;
  font-size: 50px;
  margin-top: -6px;
}

#timer-container {
  display: flex;
  justify-content: center;
}

#pause-button {
  margin-right: 10px;
}

#session-length {
  margin-left: 5px;
  margin-right: 5px;
}

#break-length {
  margin-left: 5px;
  margin-right: 5px;
}

.button {
  cursor: pointer;
}